.content {
  display: flex;
  flex-direction: column;
  padding-top: 96px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 96px;
  width: 100%;

  @media (min-width: 700px) {
    padding-top: 20vh;
  }

  @media (min-width: 1000px) {
    padding-left: 12vh;
  }
}

.ct-section-list {
  display: flex;
  flex-direction: column;
  grid-gap: 72px;

  @media (min-width: 700px) {
    grid-gap: 96px;
  }
}

.ct-title {
  display: flex;
  flex-direction: column;
  grid-gap: 8px;
  width: 100%;
  max-width: 640px;
  margin-bottom: 72px;

  @media (min-width: 700px) {
    margin-bottom: 96px;
  }

  & h1 {
    font-size: 32px;
    font-weight: 700;
    color: var(--accent);
    line-height: 1.1;

    @media (min-width: 700px) {
      font-size: 36px;
    }
  }

  & p {
    font-size: 14px;
    font-weight: 400;
    color: var(--black);
  }

  @media (min-width: 700px) {
    padding-left: 96px;
  }
}

.ct-cover {
  width: 100%;

  @media (min-width: 900px) {
    max-width: 70vw;
  }
}

.ct-text {
  & h2 {
    font-size: 28px;
    font-weight: 700;
    color: var(--black);
  }

  & h3 {
    font-size: 22px;
    font-weight: 700;
    color: var(--black);
  }

  & p {
    font-size: 18px;
    font-weight: 400;
    color: var(--black);
  }

  & ul {
    margin: 0;
  }

  & a {
    color: var(--accent);

    &:hover {
      color: var(--black);
    }
  }
}

.ct-markdown {
  display: flex;
  flex-direction: column;
  grid-gap: 24px;
  width: 100%;
  max-width: 640px;

  @media (min-width: 700px) {
    padding-left: 96px;
  }
}

.ct-panel {
  display: flex;
  flex-direction: column;
  grid-gap: 48px;
  width: 100%;

  @media (min-width: 960px) {
    max-width: 70vw;
    flex-direction: row;
    justify-content: space-between;

    & img {
      max-width: 50%;
      object-fit: cover;
    }
  }

  & img {
    width: 100%;
  }

  & > .ct-panel__markdown {
    display: flex;
    flex-direction: column;
    grid-gap: 24px;
  }
}

.ct-video {
  width: 100%;

  @media (min-width: 900px) {
    max-width: 70vw;
  }
}