:root {
  --black: #000;
  --accent: #023e8a;
  --medium-gray: #6b7786;
  --white: #ffffff;
}

* {
  font-family: 'Open Sans', sans-serif;
}

.homepage {
  background-image: var(--background-image-vertical);

  @media() {
    background-image: var(--background-image-horizontal);
  }
}
