.homepage {
  display: flex;
  flex-direction: column;
  grid-gap: 96px;
  padding-top: 30vh;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 96px;
  width: 100%;
  max-width: 924px;

  @media (min-width: 900px) {
    padding-left: 12vh;
  }

  &.track {
    display: flex;
    flex-direction: column;
    grid-gap: 24px;

    width: 100%;
    height: fit-content;

    @media (min-width: 600px) {
      flex-direction: row;
    }
  }

  &.ladder {
    display: flex;
    flex-direction: column;
    grid-gap: 24px;
  }
}